{% extends 'base.html' %}

{% block content %}
{% load static %}

{% include 'sidebar.html' %}

<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>
    </nav>

    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3"><strong>{{ current_strat_dict.strategy_name }}</strong></h1>
            <!-- strategy description and asset dropdown          -->
            <div class="row">
                <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Description</h5>
                        </div>

                        <div class="card-body">
                            <div class="mb-0">
                                <p>{{ current_strat_dict.strategy_description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                    <div class="card flex-fill w-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">See Results For:</h5>
                        </div>
                        <div class="card-body d-flex w-100">
                            <div class="dropdown">
                                  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      <span style="font-size:12px" class="align-center">{{current_asset_dict.asset_name}}</span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<!--                                            <li><a class="dropdown-item" href="#">Action</a></li>-->
                                      {% for asset in all_assets_list_dict %}
                                        {% if current_asset_dict.asset_id != asset.asset_id %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'backtests' current_strat_dict.strategy_name|slugify asset.asset_ticker|slugify %}">
                                                <span style="font-size:12px" class="align-center">{{ asset.asset_name }}</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- example pic            -->
            <div class="row">
                 <div class="col-12">
                     <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="accordion" id="accordionExample">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                       <a class="nav-link dropdown-toggle" id="alertsDropdown" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="text-dark">Strategy Example</span>
                                       </a>
                                       <hr>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                      <div class="accordion-body">
                                           <a href="{% static strat_image_path|safe %}" target="_blank">
                                               <img src="{% static strat_image_path|safe %}" class="img-fluid rounded mx-auto d-block">
                                           </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--    STRATEGY RESULTS-->
            <h1 class="h3 mb-3"><strong>Strategy Results for {{ current_asset_dict.asset_name }} on {{timeframe}}</strong></h1>
            <!-- current month results           -->
            <div class="row">
                 <div class="col-12">
                     <div class="card">
                         <div class="card-header">
                            <div class="row">
                                <div class="col mt-0">
                                    <h3 class="card-title">Current Month Results:</h3>
                                    <h5>Out of {{current_month_data.count}} Permutations for {{ current_month_data.start_date }} to {{ current_month_data.end_date }}</h5>
                                    <h4>Best Performing Permutations</h4>
                                </div>
                            </div>
                            <table class="table table-hover my-0">
									<thead>
										<tr>
											<th scope="col">Total R </th>
                                            <th scope="col">Strike Rate</th>
                                            <th scope="col">Expectancy</th>
                                            <th class="d-none d-xl-table-cell" scope="col">Num Trades</th>
                                            <th scope="col"></th>
										</tr>
									</thead>
									<tbody>
                                        {% for t in current_month_data.top_winning_strats %}
                                        <tr>
                                            <td>{{ t.total_realized_r }}</td>
                                            <td>{{ t.strike_rate }}</td>
                                            <td class="d-none d-xl-table-cell">{{ t.expectancy }}</td>
                                            <td>{{ t.num_trades }}</td>
                                            <td>
                                                <a href="{% url 'Evaluation Results' current_strat_dict.strategy_name|slugify current_asset_dict.asset_ticker|slugify t.strat_parameters_id %}"
                                                   class="btn btn-secondary btn-sm"> see strategy </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
									</tbody>
								</table>
                         </div>
                         <div class="card-header">
                             <div class="row">
                                <div class="col mt-0">
                                    <h4>Worst Performing Permutations</h4>
                                </div>
                            </div>
                            <table class="table table-hover my-0">
									<thead>
										<tr>
											<th scope="col">Total R </th>
                                            <th scope="col">Strike Rate</th>
                                            <th scope="col">Expectancy</th>
                                            <th class="d-none d-xl-table-cell" scope="col">Num Trades</th>
                                            <th scope="col"></th>
										</tr>
									</thead>
									<tbody>
                                        {% for t in current_month_data.top_losing_strats %}
                                        <tr>
                                            <td>{{ t.total_realized_r }}</td>
                                            <td>{{ t.strike_rate }}</td>
                                            <td>{{ t.expectancy }}</td>
                                            <td class="d-none d-xl-table-cell">{{ t.num_trades }}</td>
                                            <td>
                                                <a href="{% url 'Evaluation Results' current_strat_dict.strategy_name|slugify current_asset_dict.asset_ticker|slugify t.strat_parameters_id %}"
                                                class="btn btn-secondary btn-sm"> see strategy </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
									</tbody>
								</table>
                         </div>
                    </div>
                </div>
            </div>
            <!-- prev month results         -->
            <div class="row">
                 <div class="col-12">
                     <div class="card">
                         <div class="card-header">
                            <div class="row">
                                <div class="col mt-0">
                                    <h3 class="card-title">Previous Month Results:</h3>
                                    <h5>Out of {{previous_month_data.count}} Permutations {{ previous_month_data.start_date }} to {{ previous_month_data.end_date }}</h5>
                                    <h4>Top Winning Permutations</h4>
                                </div>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Total R </th>
                                        <th scope="col">Strike Rate</th>
                                        <th scope="col">Expectancy</th>
                                        <th class="d-none d-xl-table-cell" scope="col">Num Trades</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in previous_month_data.top_winning_strats %}
                                        <tr>
                                            <td>{{ t.total_realized_r }}</td>
                                            <td>{{ t.strike_rate }}</td>
                                            <td>{{ t.expectancy }}</td>
                                            <td class="d-none d-xl-table-cell">{{ t.num_trades }}</td>
                                            <td>
                                                <a href="{% url 'Evaluation Results' current_strat_dict.strategy_name|slugify current_asset_dict.asset_ticker|slugify t.strat_parameters_id %}"
                                                class="btn btn-secondary btn-sm"> see strategy </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                         </div>
                         <div class="card-header">
                             <div class="row">
                                <div class="col mt-0">
                                    <h4>Worst Performing Permutations</h4>
                                </div>
                            </div>
                             <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Total R </th>
                                        <th scope="col">Strike Rate</th>
                                        <th scope="col">Expectancy</th>
                                        <th class="d-none d-xl-table-cell" scope="col">Num Trades</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in previous_month_data.top_losing_strats %}
                                        <tr>
                                            <td>{{ t.total_realized_r }}</td>
                                            <td>{{ t.strike_rate }}</td>
                                            <td>{{ t.expectancy }}</td>
                                            <td class="d-none d-xl-table-cell">{{ t.num_trades }}</td>
                                            <td>
                                                <a href="{% url 'Evaluation Results' current_strat_dict.strategy_name|slugify current_asset_dict.asset_ticker|slugify t.strat_parameters_id %}"
                                                class="btn btn-secondary btn-sm"> see strategy </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
<!--                    <p class="mb-0">-->
<!--                        <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;-->
<!--                    </p>-->
                </div>
                <div class="col-6 text-end">
<!--                    <ul class="list-inline">-->
<!--                        <li class="list-inline-item">-->
<!--                            <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item">-->
<!--                            <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item">-->
<!--                            <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item">-->
<!--                            <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
        </div>
    </footer>
</div>

{% endblock %}