<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="{% url 'top_results_home' %}">
          <span class="align-middle">Backtested Technicals</span>
        </a>
        <ul class="sidebar-nav">
            <!-- Strategies				-->
            <li class="sidebar-header" style="font-size:18px">
                Strategies
                <hr>
            </li>

            {% for strat_name in strats_sidebar_list %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{% url 'backtests' strat_name|slugify sidebar_default_asset|slugify %}">
                        <i class="align-left" data-feather="bar-chart-2"></i> <span style="font-size:12px" class="align-center">{{ strat_name }}</span>
                    </a>
                </li>
            {% endfor %}

            <li class="sidebar-header" style="font-size:18px">
                Pages
                <hr>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'about' %}">
                    <i class="align-left" data-feather="monitor"></i>
                    <span class="align-left">About</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'methodology' %}">
                    <i class="align-left" data-feather="monitor"></i>
                    <span class="align-left">Methodology</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'interpreting_results' %}">
                    <i class="align-left" data-feather="monitor"></i>
                    <span class="align-left">Interpreting Results</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="{% url 'disclaimer' %}">
                    <i class="align-left" data-feather="monitor"></i>
                    <span class="align-left">Disclaimer</span>
                </a>
            </li>



<!--            <li class="sidebar-header" style="font-size:18px">-->
<!--                Plugins & Addons-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="charts-chartjs.html">-->
<!--                  <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li class="sidebar-item">-->
<!--                <a class="sidebar-link" href="maps-google.html">-->
<!--                  <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
        <div class="sidebar-cta" style="padding-bottom: 100px;">
        </div>
    </div>
</nav>
